#graph-container {
  height: 220px;
  width: calc(100% - 372px);
  background-color: white;
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
#graph {
  margin-top: -90px;
}