#sidebar {
  height: calc(100% - 49px);
  position: absolute;
  top: 18px;
  left: 24px;
  width: 300px;
  background-color: white;
  z-index: 1;
  margin-top: 8px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
#sidebar-acled-logo {
  width: 80%;
  height: 88px;
  margin-top: 8px;
}
#sidebar-filters-container {
  width: calc(100% - 16px);
  height: calc(100% - 132px);
  background-color: #003A5B;
  text-align: center;
  padding: 16px 8px;
}
#sidebar-filters-container p {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.filters-section {
  display: block;
  text-align: left;
  margin: 8px 0px;
  width: 100%;
}
.filters-section label {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.filters-section input {
  width: calc(100% - 20px);
  margin-top: 4px;
  padding: 4px 8px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color:#003A5B;
}
#sidebar-filters-container button {
  height: 38px;
  background-color: white;
  color: #003A5B;
  font-weight: bold;
  margin: 16px 0px;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}